html, body{
	width:100%;
	height:100%;
	margin-top:0;}

a{text-decoration:none;}

a:hover{text-decoration:underline;}

header{
min-height:10%;
padding:7px 25px;
font-size:20px;
display:flex;
justify-content:space-between;
align-items:center;
background-color:hsl(256, 26%, 20%);
position:fixed;
width:96%;
flex-wrap:wrap;}

h1{
font-size:22px;
color:hsl(273, 4%, 51%);}

.header-right{
display:flex;
visibility:visible;}

 .header-right a{margin:0 0 0 30px;
color:hsl(273, 4%, 51%);
cursor:pointer;}

.header-right a:hover{cursor:pointer;
color:hsl(273, 4%, 41%);}

.hamburger{display:none;}

#mobile-nav{display:flex;
flex-direction:column;
justify-content:center;
line-height:50px;
margin-top:0;
display:none;
padding-left:30px;
padding-top:30px;
position:absolute;
top:140%;
right:0%;
width:100px;
height:600px;
background-color:hsl(256, 26%, 20%);
border-top:1px solid #fff;}

.row2{flex-wrap:wrap;
height:560px;
width:100%;
background-color:hsl(256, 26%, 20%);
margin:auto;
display:flex;
align-items:center;
justify-content:space-around;
color:white;
background-image: url(images/bg-pattern-intro-right-desktop.svg),url(images/bg-pattern-intro-left-desktop.svg);
background-repeat: no-repeat;
background-position: right top, left 0px bottom -120px;
margin-bottom:250px;}

img {width:100%;}

.line1{width:180px;
margin:60px 28px 0 0;}

.row2 .column1{
max-width:550px;
min-height:200px;
font-size:19px;}

.row3{
align-items:center;
justify-content:center;
display:flex;
margin-top:20px;
width:100%;
flex-wrap:wrap;}

.row3 img{width:20%;
border-radius:50%;
margin-right:20px;
transition: 0.5s;}

.row3 p{max-width:500px;
font-size:20px;
color:hsl(244, 69%, 80%);}

.row3 h2{font-size:50px;
color:hsl(244, 69%, 8%);}

.row4{
display:flex;
justify-content:space-around;
margin-top:40px;
width:100%;
flex-wrap:wrap;}

.row4 p {margin-left:40px;
color:hsl(244, 69%, 80%);}

.row4 h2{margin-left:40px;
color:hsl(244, 69%, 8%);}

.snappy, .affordable, .people{width:240px;
font-size:18px;}

.row5{display:flex;
justify-content:space-around;
align-items:center;
background-image:url(images/bg-pattern-how-we-work-desktop.svg);
background-repeat:no-repeat;
background-position:right;
font-size:50px;
margin:0px 0 0 0px ;
background-color:hsl(256, 26%, 20%);
color:hsl(0 0% 100%);
min-height:260px;
width:90%;
flex-wrap:wrap;
margin:auto;}

button{height:45px;
width:170px;
font-size:14px;
background-color:hsl(256, 26%, 70%);
color:hsl(0 0% 100%);}

button:hover{cursor:pointer;
background-color:hsl(0 0% 100%);
color:hsl(256, 26%, 20%);}

.find-out{
font-weight:bold;
width:320px;}

.skills{max-width:600px;
font-family:poppins, sans-serif;
font-size:30px;
flex-wrap:wrap;}

.skills span{font-size:20px;
background-color:hsl(256, 26%, 20%);
color:#fff;
display:inline-block;
margin:10px 10px 10px 0;
border-radius:5px;
width:130px;
}

.latest-work{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
	max-width:600px;}
	
.latest-work h3{
	font-size:30px;
	font-family:poppins, sans-serif;
	color:hsl(244, 69%, 8%);}	
	
.latest-work .img{margin-top:20px;
width:100%;
height:450px;
cursor:pointer;
}

footer{background-image: url(images/bg-pattern-footer-desktop.svg);
width:100%;
min-height:200px;
flex-wrap:wrap;
background-repeat: no-repeat;
padding-top:50px;
padding-bottom:50px;
background-position: top left;
background-color: hsl(0, 0%, 98%);
margin-top:50px;
display:flex;
justify-content:space-around;
}

footer i{font-size:20px;
margin-right:20px;

color:hsl(244, 69%, 80%);}
 
footer h4{font-size:20px;
color:hsl(244, 69%, 8%);} 

footer p{font-size:18px;
color:hsl(244, 69%, 80%);}

@media(min-width:280px){
.header-right{display:none;}

.hamburger{display:block;
position:relative;
right:60px;}

#mobile-nav{
display:none;}

.mobile-nav a{color:hsl(273, 4%, 51%);}

#mobile-nav::after{display:block;}
}

@media(min-width:375px){
.header-right{display:none;}

.hamburger{display:block;
position:relative;
right:60px;}

#mobile-nav{
display:none;}

.mobile-nav a{color:hsl(273, 4%, 51%);}

#mobile-nav::after{display:block;}
}

@media(min-width:1000px){
	.hamburger{display:none;}
	
	.header-right{display:block;}
}
















